@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Golos+Text:wght@400..900&display=swap');


.section-morena {
  background: #E7DDD4;
  
}
#background_experiencias{
   background: url('/img/textura.png') center/cover repeat;
   color: #E7DDD4;
    -webkit-box-shadow: -1px 3px 9px 7px rgba(0,0,0,0.41); 
            box-shadow: -1px 3px 9px 7px rgba(0,0,0,0.41);
}

.experience-card {
  background-color: #E7DDD4;
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  padding: 20px;
}
/* IMAGEN */
.image-wrap {
  height: 100%;
}
.image-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover ;
  padding: 0.6rem;
}
.btn-nav{
    background-color: #48506815 !important ;
    border-color: #80917b0a!important;
}
.btn-nav:hover{
    color: #CBa468 !important;
}
.btn-nav li :hover{
    background-color: #48506831 !important ;
    
    color: #CBa468 !important;
}
.btn-nav:active{
      color: #CBa468 !important;
}
/* CONTENIDO */
.content-wrap {
  padding: 80px 90px;
}

 .back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; /* Lo pone detrás del contenido */
    object-fit: cover;
    }

/* TEXTO */
.intro-text {
  font-size: 16px;
  line-height: 1.8;
  color: #161616;
  max-width: 520px;
  margin-bottom: 40px;
}

.out-text {
  font-size: 16px;
  line-height: 1.8;
  color: #161616;
 
  margin-bottom: 40px;
}
.titulo-main{
    font-size: 4.5rem !important;
    letter-spacing: 0.8rem !important;
}
/* BLOQUE INFO */
.info-block {
  border-top: 1px solid #cfcfcf;
}

.info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
  border-bottom: 1px solid #cfcfcf;
}

/* LABEL */
.info-row span {
  font-size: 12px;
  letter-spacing: 1.5px;
  color: #2c2c2c;
}

/* LINKS */
.info-row a {
  font-size: 14px;
  color: #111;
  text-decoration: underline;
}

/* ICONO */
.info-row i {
  font-size: 18px;
}

/* CTA */
.cta {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-cartas {
  font-size: 18px;
  color: #000000;
  font-family: inherit;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.button-cartas:focus,
.button-cartas:hover {
  color: #000000;
}

.button-cartas:focus:after,
.button-cartas:hover:after {
  width: 100%;
  left: 0%;
}

.button-cartas:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #000000;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
/* VER MENU */
.menu-link {
  font-size: 18px;
  text-decoration: none;
  color: #CBa468 !important;
  font-weight: 500;
  text-transform: uppercase;
  
}
.menu-link:hover {
  font-size: 18px;
  text-decoration: underline;
  color: #ddaf69  !important;
  font-weight: 500;
  
  
}

hr{
   border-top: 8px solid #80917B;    
}

/* BOTON */
.btn-reserva {
  background: #000;
  color: #fff;
  padding: 12px 28px;
  font-size: 13px;
  letter-spacing: 0.5px;
  text-decoration: none;
  transition: 0.3s;
  
}
.btn-reserva-main{
  background: #CBa468;
  color: #070707;
  padding: 12px 28px;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-decoration: none;
  transition: 0.3s;
  font-weight: bold;  
  z-index: 2 !important;
}

.btn-reserva-main:hover{
  background: #ebbc77;
  color: #070707;
  transition: 0.3s;
 
}

#btn-mas{
  background-color: #CBA468 !important;
  color: #574134;
  font-weight: bold;
}

#btn-mas:hover{
  background-color: #d49c4d !important;
  color: #55443b;
  
}

.hover13 img:hover {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

.btn-reserva:hover {
  background: #333;
  transition: 0.3s;
}

 .btn-experiencias {
      background-color: #000;
      color: #fff;
      border: none;
      padding: 10px 30px;
      font-size: 1.2rem;
      letter-spacing: 1px;
      transition: all 0.3s ease;
    }

    .btn-experiencias:hover {
      background-color: #222;
      color: #fff;
    }

    .btn-experiencias i {
      display: block;
      font-size: 1.5rem;
      margin-top: 5px;
    }
 .footer-catedral {
      background:    #CBa468;
      color: #443226 ;
    }




    

 @font-face {
    font-family: 'graficfont';
    src: url('/typo/Graphik Light/Graphik Light.otf');

     font-family: 'zapf';
    src: url('/typo/zapf-humanist-601-bt/zapf-humanist-601-bt.ttf');
    
    }
    body {
      font-family: 'graficfont' , sans-serif;
      font-size: 1.2rem;
      
    }

  

    h1, h2, h3 {
      font-family: 'zapf', serif;
      font-weight: 500 !important;
      
      
    }

    
         
    

    /* NAVBAR transparente */
    .navbarra {
      transition: 0.3s;
       max-width: 100% !important; 
       z-index: 999;

    }

    .navbarra.scrolled {
      background-color: #7A7A7A5C !important;
      backdrop-filter: saturate(180%) blur(5px) !important;
    }

    .dropdown-menu{
        opacity: 80% !important;
        min-width: 10% !important;
    }

    /* HERO */
    .hero {
      height: 100vh;
      background: url('/img/hero-catedral.png') center/cover no-repeat;
      position: relative;
      color: white;
      z-index:1;
    }

    .hero::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.5);
    }

    .hero-content {
      position: relative;
      z-index: 2;
    }

    /* SECCIONES */
    .section {
      padding: 15px 0;
    }

    /* CARDS */
    .card {
      border: none;
      overflow: hidden;
      transition: 0.3s;
    }

    .card img {
      transition: 0.4s;
    }

    .card:hover img {
      transform: scale(1.1);
    }

    .card-body {
      text-align: center;
    }

    /* GALERIA */
    .gallery img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  
     #menu-button{
          color: #7C4F40  !important;
          transition: 0.3s !important; 
          cursor: pointer;
    }
    #menu-button:hover{
        color: #7C4F40  !important;   
         transition: 0.3s !important;
    }
    .btn-menu {
      position: fixed;
      top: 20px;
      left: 20px;
      z-index: 1001;
      padding: 10px 15px;
      background: #333;
      color: #fff;
      border: none;
      cursor: pointer;
    }

    /* Fondo oscuro */
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #7c4f4017;
      opacity: 0;
      visibility: hidden;
      transition: 0.3s;
      z-index: 1000;
    }

    .overlay.active {
      opacity: 1;
      visibility: visible;
    }

    /* Menú lateral */
    .sidebar {
      position: fixed;
      top: 0;
      left: -305px; /* oculto */
      width: 305px;
      height: 100%;
      background: #7c4f40d3 !important;
      color: #fff;
      transition: 0.3s;
      padding-top: 2px;
      z-index: 1002;
      
      border-top-right-radius: 1.6rem;
      border-bottom-right-radius: 1.6rem;
    }

    .sidebar.active {
      left: 0;
      
    }
  
    
    .sidebar a {
      display: block;
      padding: 15px;
      color: #fff;
      text-decoration: none;  
      font-family: "Cinzel", serif !important;   
       transition: 0.3s;
       font-size: 1.2rem;
       font-weight: bolder;
       letter-spacing: 0.1rem;
    }

    .sidebar a:hover {
      background: #80917B;
       transition: 0.3s;
    }

      .sidebar span {
      display: block;
      padding: 15px;
      color: #4d4c4c;
      text-decoration: none;
     
       transition: 0.3s;
       cursor: pointer;       
    }

     .fa-x{
          color: #fafafa !important;  
           transition: 0.3s !important;
       cursor: pointer;
     }
     .fa-x:hover{
          color: #a5a4a4 !important;  
           transition: 0.3s !important;
       cursor: pointer;
     }

      ul {
         list-style-type: none !important;
     }

    .links {
    transition: all 0.3s ease;
    text-decoration: none;
     color: #070707;
     
    }

.links:hover {
  color: #414040; /* Instagram */
  transform: translateX(5px);
   
}

     .logo-main{

        width: 115px;
     }

     .pt-6{
        padding-top: 7.1rem;
     }

  

/* RESPONSIVE */


     @media (max-width: 768px) {
    .back-video {
        width: auto;
        height: 100vh;        
    }
     .titulo-main{
        font-size: 2.3rem !important;
        text-align: center !important;
     }
     .sidebar {
      position: fixed;
      top: 0;
      left: -250px; /* oculto */
      width: 250px;
    }

      .logo-main{

        width: 80px;
     }
     .sidebar a {
        font-size: 1rem;
     }
     .pt-6{
        padding-top: 3rem;
     }
     #balcon{
      
           display: flex;
           flex-direction: column-reverse;
          
     }
}
@media (max-width: 992px) {
  .content-wrap {
    padding: 50px 25px;
  }

  .cta {
    flex-direction: column;
    align-items: flex-center;
    gap: 15px;
  }

  .intro-text {
    max-width: 100%;
  }
}